@charset "utf-8";

html {}

body {}


/* header */
header {
    background: #3C4767;
}

.top-logo a img {
    width: 154px;
    margin-left: 41px;
}

/* アコーディオンメニュー */

#menu-name {
    width: 204px;
    height: 35px;
    position: absolute;
    right: 1%;
    top: 25px;
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* justify-content:flex要素の横位置設定 */
    align-items: center;
    /* align-items:flex要素の縦位置設定 */
    color: #FFFFFF;

}

#menu-name img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.menu-name-btn {
    cursor: pointer;
    font-size: 10pt;
}


.menu-trigger {
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu-trigger span:nth-child(1) {

    position: absolute;
    top: 12px;
    left: 6px;
    width: 12px;
    border-bottom: solid 1px #fff;
    border-radius: 1px;
    transform: rotate(-60deg);
    transition: .5s ease-in-out;
}

.menu-trigger span:nth-child(2) {
    display: block;
    position: absolute;
    top: 12px;
    width: 12px;
    border-bottom: solid 1px #fff;
    border-radius: 1px;
    transform: rotate(60deg);
    transition: .5s ease-in-out;
}

.menu-trigger.active span:nth-child(1) {
    top: 12px;
    left: 6px;
    transform: rotate(60deg);
    transition: .5s ease-in-out;
}

.menu-trigger.active span:nth-child(2) {
    top: 12px;
    transform: rotate(-60deg);
    transition: .5s ease-in-out;
}

.g-navi {
    transform: translateY(-200%);
    display: block;
    position: absolute;

    width: 20%;
    right: 0px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    z-index: 3;
}

.g-navi ul {
    display: block;
}

.g-navi ul li a {
    display: block;
    color: #6C6C6C;
    padding: 28px 0;
    font-size: 12pt;
    /* padding:内側の余白設定 */
}

.g-navi ul li a:hover {
    color: #FFFFFF;
    background-color: #E2563B;
}

.g-navi.active {
    transform: translateY(0%);
}

/* main content */


#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    overflow: scroll;
    height: 100vh;
}

#side-bar {
    flex: 0 0 19%;
    height: 100vh;
    border-left: 1px solid #6C6C6C;
    position: absolute;
    right: 0%;
    width: 20%;
    font-size: 10pt;
    background-color: #fff;
    z-index: 2;
}

#confirm {
    font-size: 10pt;
    color: #6C6C6C;
    padding: 10px;
    border-bottom: 1px solid #D7D7D7;
}

.f-count {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: space-between;
    /* justify-content:flex要素の横位置設定 */
    align-items: flex-end;
    margin-bottom: 15px;
}

.btn {
    box-shadow: none;
    border: 0 none;
    background-color: #3C4767FC;
    border-radius: 5px;
    color: #fff;
    display: block;
    text-align: center;
}

.btn a {
    display: block;
}

.bf {
    width: 138px;
    margin: 10px 0 15px auto;
}

.bf a {
    color: #fff;
    padding: 10px 0;
}

.login-name-follow {
    margin-bottom: 10px;
}

.user-search {
    margin: 30px auto;
}

.bs {
    width: 138px;
    margin: 10px auto;
}

.bs a {
    color: #fff;
    padding: 10px 0;
}



.post-wrap {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* justify-content:flex要素の横位置設定 */
    border-bottom: 3px solid #D7D7D7;
    align-items: center;
    height: 100px;
    padding: 15px;
    font-size: 12pt;
    position: relative;
}


.form-group {
    height: 15vh;
    margin: 20px;
    width: 100vh;
}

.img-icon img {
    border-radius: 50%;
    height: 51px;
    width: 51px;
}


.form-control {
    display: block;
    position: absolute;
    width: 65%;
    top: 10px;
    height: 100px;
    border: none;
    font-size: 12pt;
    color: #D7D7D7;
    opacity: 0.5;
    left: 80px;
}

.bp {
    display: block;
    position: absolute;
    top: 70px;
    left: 87%;
    cursor: pointer;
}


.post-log {
    display: block;
    overflow: scroll;
    height: 100vh;
}

.postings {
    display: block;
    border-bottom: 1px solid #D7D7D7;
}

.post-table {
    display: flex;
    padding: 20px 40px;
    color: #6C6C6C;

    position: relative;
    align-items: baseline;
}

.posted-data {
    /* display:要素の表示方法 */
    background-color: pink;
    width: 100vh;
}

.p-u-image {
    display: block;
    position: relative;
}

.p-u-image img {
    border-radius: 50%;
    height: 51px;
    width: 51px;
}

.p-user-name {
    display: block;
    position: absolute;
    left: 110px;
    font-size: 10pt;
}

.p-c-time {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 10pt;
}

.p-text {
    display: block;
    position: relative;
    top: -10px;
    left: 20px;
    height: auto;
    font-size: 12pt;
}

.post-edit {
    display: flex;
    position: relative;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.btn-primary {
    display: block;
    margin: 10px 0;
    box-shadow: none;
    border: 0 none;
    background-color: #fff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.btn-primary img {
    border: 0 none;
    height: 50px;
    width: 50px;
}

.btn-danger {
    display: block;
    width: 51px;
    height: 53px;
    margin: 10px 30px;
    cursor: pointer;
    border-radius: 6%;
    background: url(/images/trash.png);
}

.btn-danger:hover {
    background: url(/images/trash_h.png);
}

/* モーダル設定 */
.modal-main {
    display: none;
}

.modal-inner {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2000px;
    height: 2000px;
    background-color: rgba(51, 54, 49, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
}

.modal-content {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 784px;
    height: 286px;
    color: #6C6C6C;
    opacity: 1;
    position: fixed;
    top: 179px;
    left: 10%;
    z-index: 5;
}

.edit-form-control {
    display: block;
    margin: 20px auto auto auto;
    width: 692px;
    height: 152px;
    font-size: 12pt;
    color: #D7D7D7;
}

.pullRight {
    position: absolute;
    bottom: 3%;
    right: 5%;
}

.search-wrap {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    /* justify-content:flex要素の横位置設定 */
    border-bottom: 3px solid #D7D7D7;
    height: 100px;
    padding-top: 30px;
    font-size: 12pt;
    padding-left: 78px;
    position: relative;
}

.contents-main {
    display: block;
    overflow: scroll;
}

.search-form {
    height: 51px;
    display: block;
    width: 391px;
    font-size: 12pt;
    opacity: 0.5;
}

.search-b {
    display: block;
    position: relative;
    top: -50px;
    left: 420px;
    cursor: pointer;
}

.search-b img {
    height: 39px;
    width: 41px;
}

.find-user-wrap {
    display: flex;
    padding: 20px 40px;
    color: #6C6C6C;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
}


.f-username {
    display: block;
    position: relative;
    margin-left: 20px;
}

.remove-b {
    display: block;
    height: 41px;
    width: 138px;
    background-color: #E2563B;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: 0 none;
    position: absolute;
    top: 25px;
    right: 100px;
    cursor: pointer;
}

.follow-b {
    display: block;
    height: 41px;
    width: 138px;
    background-color: #4B71CABF;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: 0 none;
    position: absolute;
    top: 25px;
    right: 100px;
    cursor: pointer;
}

.contents-wrap {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    /* justify-content:flex要素の横位置設定 */
    border-bottom: 3px solid #D7D7D7;
    height: 120px;
    padding: 20px;
    font-size: 12pt;
    padding-left: 40px;
    position: relative;
    overflow: scroll;
}

.list-name {
    font-size: 22pt;
    color: #6C6C6C;
    margin-top: 30px;
    margin-left: 40px;
}

.icons-box {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    margin-left: 50px;
    width: 80%;
}

.icons {
    display: block;
    margin: 10px;
}

.icon-img {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.icon-img img {
    border-radius: 50%;
    height: 51px;
    width: 51px;
}

.prof-box {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: 50px;
    font-size: 20pt;
    color: #6C6C6C;
    left: 0px;
}

.prof-t {
    display: block;
    margin-left: 50px;
}

.friends-name {
    display: block;
    position: absolute;
    left: 220px;
    width: 250px;
}

.bio-box {
    display: flex;
    /* display:要素の表示方法 */
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    width: 50%;
    font-size: 20pt;
    color: #6C6C6C;
    left: 140px;
    top: 100px;
}

.friends-bio {
    font-size: 12pt;
    display: block;
    position: absolute;
    left: 170px;
    width: 250px;
}

.f-icon-img img {
    border-radius: 50%;
    height: 51px;
    width: 51px;
}

.p-remove-b {
    display: block;
    height: 41px;
    width: 138px;
    background-color: #E2563B;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: 0 none;
    position: absolute;
    top: 100px;
    right: 30pt;
    cursor: pointer;
}

.p-follow-b {
    display: block;
    height: 41px;
    width: 138px;
    background-color: #4B71CABF;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    box-shadow: none;
    border: 0 none;
    position: absolute;
    top: 100px;
    right: 30pt;
    cursor: pointer;
}
